# Node.js
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
package-lock.json
.pnpm-debug.log*

# OS
.DS_Store
Thumbs.db
ehthumbs.db
Icon?
Desktop.ini

# VS Code
.vscode/

# WebStorm/JetBrains
.idea/
*.iml

# Logs
logs/
*.log

# Environment files
.env
.env.*.local
